<%= form_with(model: question, url: url) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :ballot_id %>
  </div>

  <div>
    <%= form.label :question_type, style: "display: block" %>
    <%= form.text_field :question_type %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :randomize_selection, style: "display: block" %>
    <%= form.check_box :randomize_selection %>
  </div>

  <div>
    <%= form.label :voter_abstain, style: "display: block" %>
    <%= form.check_box :voter_abstain %>
  </div>

  <div id='options'>
    <%= form.fields_for :options do |o| %>
      <div>
        <%= render "questions/option_fields", :f => o %>
      </div>
    <% end %>
      <div class='links'>
        <%= link_to_add_association 'add option', form, :options %>
      </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
