<div id="<%= dom_id question %>">
  <p>
    <strong>Ballot:</strong>
    <%= question.ballot_id %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= question.question_type %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= question.description %>
  </p>

  <p>
    <strong>Randomize selection:</strong>
    <%= question.randomize_selection %>
  </p>

  <p>
    <strong>Voter abstain:</strong>
    <%= question.voter_abstain %>
  </p>

  <p>
    <strong>Record updated at:</strong>
    <%= question.record_updated_at %>
  </p>

</div>
