<%= form_with(model: ballot_result) do |form| %>
  <% if ballot_result.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ballot_result.errors.count, "error") %> prohibited this ballot_result from being saved:</h2>

      <ul>
        <% ballot_result.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ballot_id, style: "display: block" %>
    <%= form.text_field :ballot_id %>
  </div>

  <div>
    <%= form.label :question_result_id, style: "display: block" %>
    <%= form.text_field :question_result_id %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
