<p style="color: green"><%= notice %></p>

<%= render @ballot_result %>

<div>
  <%= link_to "Edit this ballot result", edit_ballot_result_path(@ballot_result) %> |
  <%= link_to "Back to ballot results", ballot_results_path %>

  <%= button_to "Destroy this ballot result", @ballot_result, method: :delete %>
</div>
