<div id="<%= dom_id guest_voter %>">
  <p>
    <strong>User:</strong>
    <%= guest_voter.user_id %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= guest_voter.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= guest_voter.password %>
  </p>

  <p>
    <strong>Vote weight:</strong>
    <%= guest_voter.vote_weight %>
  </p>

  <p>
    <strong>Record updated at:</strong>
    <%= guest_voter.record_updated_at %>
  </p>

</div>
