<p style="color: green"><%= notice %></p>

<%= render @guest_voter %>

<div>
  <%= link_to "Edit this guest voter", edit_guest_voter_path(@guest_voter) %> |
  <%= link_to "Back to guest voters", guest_voters_path %>

  <%= button_to "Destroy this guest voter", @guest_voter, method: :delete %>
</div>
