<div id="<%= dom_id ballot %>">
  <p>
    <strong>User:</strong>
    <%= ballot.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= ballot.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ballot.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= ballot.URL %>
  </p>

  <p>
    <strong>Ballot type:</strong>
    <%= ballot.ballot_type %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= ballot.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= ballot.end_date %>
  </p>

  <p>
    <strong>Weighted voting:</strong>
    <%= ballot.weighted_voting %>
  </p>

  <p>
    <strong>Show results:</strong>
    <%= ballot.show_results %>
  </p>

</div>
