<div id="<%= dom_id ballot %>">

    <tr>
      <td ><h3><%= ballot.title %></h3> <h6><%=ballot.description%></h6></td>
      <td style="text-align: center;padding-top: 30px"><%=ballot.access_token %></td>
      <td style="text-align: center;padding-top: 20px"><h6><%= ballot.start_date.strftime('%m/%d/%Y')%></h6>   <h6><%=ballot.start_date.strftime('%I:%M %p %Z')%></h6></td>
      <td style="text-align: center;padding-top: 20px"> <h6 ><%= ballot.end_date.strftime('%m/%d/%Y')%></h6>   <h6><%=ballot.end_date.strftime('%I:%M %p %Z')%></h6></td>
      <td style="text-align: center;padding-top: 25px"><%= link_to user_ballot_path(current_user.id, ballot) do %>
        <button type="button" class="btn btn-primary">
               select
        </button>
      </td>
       <td style="text-align: center;padding-top: 25px; width: 15%">
        <%= button_to "delete", user_ballot_path(current_user, ballot),  :class => "btn btn-primary", :style => "background-color: #d41515;border-color:#c70000;", method: :delete,  data: {confirm: "Delete #{ballot.title}?"} %>
      </td>
     <% end %> 
    </tr>
</div>

                     
