<div id="<%= dom_id ballot %>">
  <p>
    <strong>User:</strong>
    <%= ballot.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= ballot.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ballot.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= ballot.URL %>
  </p>

  <p>
    <strong>Ballot type:</strong>
    <%= ballot.ballot_type %>
  </p>

  <p>
    <strong>Record updated at:</strong>
    <%= ballot.record_updated_at %>
  </p>

</div>
