<%= form_with(model: ballot, url: url) do |form| %>
  <% if ballot.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ballot.errors.count, "error") %> prohibited this ballot from being saved:</h2>

      <ul>
        <% ballot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id, class:'d-none' %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.datetime_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.datetime_field :end_date %>
  </div>

  <div>
    <%= form.label 'Expected number of voter turn out', style: "display: block", required: true %>
    <%= form.number_field :expected_voters %>
  </div>

  <div>
    <%= form.label :voting_type, style: "display: block" %>
    <%= form.select :voting_type, Ballot::VOTING_TYPE %>
  </div>

  <div>
    <%= form.label :show_voter_results, style: "display: block" %>
    <%= form.check_box :show_voter_results %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
