 
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="text-align: center">
        <div class="card-body" style="background-color:#21507a">
          <br>
          <h1 style="color: #fff"> <%= @ballot.title %> - Results </h1>
        </div>
        <div class="card-body" style="background-color: #6A87A5">
              <br>
              <h4 style="color:#fff;text-align: left;text-align: center;"><%= @ballot.voting_type %></h4>
        </div>
      </div>
    </div>
  </div>

  <% @ballot.questions.each do |question| %>
    <% if @ballot.voting_type ==  "Modified Borda count" %>
      <%= render :partial => 'ballots/results/m_borda_count', :locals =>  { :question => question } %>
    <% elsif @ballot.voting_type ==  "D'Hondt" %>
      <%= render :partial => 'ballots/results/dhondt', :locals =>  { :question => question } %>
    <% else %>
      <%= render :partial => 'ballots/results/normal', :locals =>  { :question => question }  %>
    <% end  %>


<% end %>