<p style="color: green"><%= notice %></p>
<p>Note: Voters can only see results after Ballot has expired</p>
  <% arr = Array.new %>
  <p><strong>Ballot Title: <%= @ballot.title %></strong></p>
  <p><strong>Voting Type: <%= @ballot.voting_type%></strong></p>
  <hr>
  <% @ballot.questions.each do |question| %>
    <% results = calculate_results(@ballot, question) %>
    <p><strong><%= question.title %></strong></p>
    <h5> Result: </h5>
    <table style="width:50%">
    <tr>
        <th>Name</th>
        <th><%= if @ballot.voting_type == "D'Hondt" then 'Seats Won' else 'Points' end  %></th>
    </tr>
    <% results.each do |option| %>
    <tr>
      <td><%= Option.find_by(id: option[0]).title %></td>
      <td><%= option[1] %></td>
      <% arr.push option[1] %>
    </tr>
    <% end %>
    <hr>
    <% if @ballot.voting_type == "D'Hondt" %>>
    <tr style="border-top:1px solid black">
      <th>Total Seats</th>
      <td><%=@ballot.seats%></td>
    </tr>
    <% else %>
      <tr style="border-top:1px solid black">
      <th>Total</th>
      <td><%=arr.sum%></td>
    </tr>
    <% end%>
   </table>
    <hr>
<% end %>