<p style="color: green"><%= notice %></p>

<%= render @ballot %>

<div>
  <%= link_to "Edit this ballot", edit_user_ballot_path(@ballot) %> |
  <%= link_to "Back to ballots", user_ballot_url %> |
  <%= link_to "Add new Question", new_user_ballot_question_path(current_user.id, @ballot) %>
  
  <%= button_to "Destroy this ballot", user_ballot_path(@ballot), method: :delete %>
</div>
