<p style="color: green"><%= notice %></p>

<p>
  <strong>Ballot Title:</strong>
  <%= @ballot.title %>
  <%= render @ballot %>
</p>
<div>
  <%= link_to "Edit this ballot", edit_user_ballot_path(@ballot) %> |
  <%= link_to "Back to ballots", user_ballots_path %> |
   <%= link_to "Ballot's Voters", new_user_ballot_voter_path(:ballot_id => @ballot.id)%> 
  <%= button_to "Destroy this ballot", user_ballot_path, method: :delete %>
</div>

<% if @ballot.questions.any? %>
  <hr>
  <h2>Questions:</h2>
  <%= render @ballot.questions %>
  
<% end %>
<hr>


<h2>Add a new Question:</h2>
<%= render "questions/form",question: @question, url: [current_user, @ballot, @question] %>

