<div id="<%= dom_id stored_voter %>">
  <p>
    <strong>User:</strong>
    <%= stored_voter.user_id %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= stored_voter.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= stored_voter.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= stored_voter.email %>
  </p>

  <p>
    <strong>Vote weight:</strong>
    <%= stored_voter.vote_weight %>
  </p>

</div>
