<p style="color: green"><%= notice %></p>

<%= render @stored_voter %>

<div>
  <%= link_to "Edit this stored voter", edit_stored_voter_path(@stored_voter) %> |
  <%= link_to "Back to stored voters", stored_voters_path %>

  <%= button_to "Destroy this stored voter", @stored_voter, method: :delete %>
</div>
