= form_for @voter do |f|
  - if @voter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@voter.errors.count, "error")} prohibited this voter from being saved:"
      %ul
        - @voter.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
