<div id="<%= dom_id voter %>">
  <p>
    <strong>User:</strong>
    <%= voter.ballot.title %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= voter.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= voter.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= voter.email %>
  </p>

  <p>
    <strong>Vote weight:</strong>
    <%= voter.vote_weight %>
  </p>

  <p>
    <strong>Store voter:</strong>
    <%= voter.store_voter %>
  </p>

</div>
