<div id="<%= dom_id voter %>">
  <p>
    <strong>User:</strong>
    <%= voter.user_id %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= voter.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= voter.password %>
  </p>

  <p>
    <strong>Vote weight:</strong>
    <%= voter.vote_weight %>
  </p>

  <p>
    <strong>Record updated at:</strong>
    <%= voter.record_updated_at %>
  </p>

  <p>
    <strong>Store voter:</strong>
    <%= voter.store_voter %>
  </p>

</div>
