<h1>Voters</h1>

 <div id="voters">
  <% @voters.each do |voter| %>
    <%= render voter %>
    <p>
      <%= link_to "Show this voter", voter %>
    </p>
  <% end %>
</div> 
<hr>
<h1>Create Access token for ballot</h1>
<%= button_to "Generate token"%>
<hr>
<h1>Add New Individual Voters</h1>

<%= render "form", voter: @voter %>

<br>

<div>
  <%= link_to "Back to voters", user_ballot_voters_path %>
</div>
