<div class="container">
  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
          <div class="d-flex justify-content-center py-4">
            <div class="logo d-flex align-items-center w-auto">
              <%= link_to ('<span class="d-none d-lg-block" style="color:  #012970">E.S.A</span>').html_safe, root_path  %>
            </div>
          </div><!-- End Logo -->

          <div class="card mb-3">
            <div class="card-body">
              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Register for Ballot</h5>
                <p class="text-center small">Your log in details would be sent to your email</p>
              </div>
              <%= form_with(model: @voter) do |form| %>

                <%= render "devise/shared/error_messages", resource: @voter %>
                

                <div class="col-12">
                  <%= form.label :email, class: "form-label" %>
                  <%= form.text_field :email, class: "form-control", autofocus: true  %>
                  <div class="invalid-feedback">Please, enter your email!</div>
                </div>
                <br>
                <div class="col-12">
                  <%= form.label :username, class: "form-label" %>
                  <%= form.hidden_field :ballot_id, :value => session[:ballot_id]%>
                  <%= form.text_field :username, class: "form-control", autofocus: true  %>
                  <div class="invalid-feedback">Please, enter your username!</div>
                </div>
                <br>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                    <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                    <div class="invalid-feedback">You must agree before submitting.</div>
                  </div>
                </div>
                <br>
                <div class="col-12">
                  <%= form.submit "Register for Ballot", class: "btn btn-primary w-100" %>
                </div>
                <br>
                <div class="col-12">
                  <p class="small mb-0">Already in a ballot? <%= link_to "log in", voter_sign_in_path%></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
