
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <div class="logo d-flex align-items-center w-auto">
                <%= link_to ('<span class="d-none d-lg-block" style="color:  #012970">E.S.A</span>').html_safe, root_path  %>
              </div>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <p class="card-title text-center pb-0 fs-4">VOTER LOGIN</p>
                </div>
                <p style="color: red"><%= notice %></p>
                <%= form_tag("/voter/sign_in", method: "post") do %>

                  <div class="col-12">
                    
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>

                      <%= text_field_tag :email, "", class:'form-control', :placeholder => "Email" %>

                      <div class="invalid-feedback">Please enter your username.</div>
                    </div>
                  </div>
                  <br>
                  <div class="col-12">
                    <%= text_field_tag :password, "", class:'form-control', :placeholder => "Password"%>
                    <div class="invalid-feedback">Please enter your password!</div>
                  </div>
                  <br>
                  <div class="col-12">
                    <p class="small mb-0" >Don't have account? <a href="<%=root_url%>"><b>Enter Ballot Pin<b></a></p>
                  </div>
                  <br>
                  <div class="col-12" style="text-align: center;">
                    <p><%= submit_tag "Sign In", class: 'btn btn-primary btn-block mb-4'%></p>
                  </div>
                  </div>
                  </div>
                  </div>
                <% end %>
                </div>
      </div>
    </section>
  </div>

