<section class="section" style="padding: 5%; margin: 5%">
    <div class="row">
       <div class="col-lg-12">
          <div class="card">
             <br>
             <h3 style="text-align: center"><b> Welcome To ESA</b></h3>
             <br>
             <section class="section">
                <div class="row">
                   <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="card text-center"><%= image_tag("medium_logo.svg", style: "height:200px; width: 100%;", class: "card-img" )%></div>
                    </div>
                </div>
                <div class="card-body">
                   <div class="row">
                   <!-- Ballot Pin -->
                      <div class="col-lg-12" style="text-align: center"><br>
                        <div class="card-body p-5 shadow-5 text-center">      
                            <%= form_tag("/it", method: "get") do %>
                              <%= text_field_tag :access_token, "", class:'form-control', style:"background-color: #F5F5F5",:placeholder => "Ballot Pin", maxlength: 6 %>
                              <br>
                              <p>Already in a ballot?  <%= link_to "Voter Login"  %> </p>
                              <p><%= submit_tag "Enter", class: 'btn btn-primary btn-block mb-4'%></p>
                               <% end %>
                              <div class="invalid-feedback">Incorrect Ballot Pin</div>
                          </div>
                      </div>
                    <!-- Ballot Pin -->
                   </div>
                </div>
             </section>
          </div>
       </div>
    </div>
 </section>