<%= link_to "Sign Out", user_ballot_voter_sign_out_path(@ballot.user_id, @ballot.id)%> 
<% if @ballot.start_date <= DateTime.now && @ballot.end_date >= DateTime.now %>
  <h1> Questions </h1>
  <% if @ballot.questions.length > 0 %>
    <div style="margin-left: 20rem">
      <ol>
        <% @ballot.questions.each do |qst| %>
          <%= render "questions" , qst: qst%>
          <p style="color: red"><%= notice %></p>
          <hr>
        <% end %>
      </ol>
    </div>
  <% else %>
    <h2> No question is present in the Ballot </h2>
  <% end %>
<% elsif @ballot.end_date < DateTime.now %>
  <h1> Ballot Expired </h1>
<% else %>
  <h1> Waiting Room </h1>
  <div id="<%= dom_id @ballot %>">
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">start_date</th>
        <th scope="col">end_date</th>
        <th scope="col">Will Voters get Results?</th>
        <th scope="col">Host</th>
        <th scope="col">Voters</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @ballot.title %></td>
        <td><%= @ballot.description %></td>
        <td><%= @ballot.start_date %></td>
        <td><%= @ballot.end_date %></td>
        <td><%= @ballot.show_voter_results %></td>
        <td><%= @ballot.host.pluck(:email, :name) %></td>
        <td><%= @ballot.voters.pluck(:username) %></td>
        <td><%= @ballot.start_date <= DateTime.now ? "view" : "waiting..." %></td>
      </tr>
    </tbody>
  </table>
  </div>
<% end %>