<%= form_with(model: question_result) do |form| %>
  <% if question_result.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question_result.errors.count, "error") %> prohibited this question_result from being saved:</h2>

      <ul>
        <% question_result.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :question_id, style: "display: block" %>
    <%= form.text_field :question_id %>
  </div>

  <div>
    <%= form.label :ballot_id, style: "display: block" %>
    <%= form.text_field :ballot_id %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :record_updated_at, style: "display: block" %>
    <%= form.datetime_field :record_updated_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
