<div id="<%= dom_id question_result %>">
  <p>
    <strong>Question:</strong>
    <%= question_result.question_id %>
  </p>

  <p>
    <strong>Ballot:</strong>
    <%= question_result.ballot_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= question_result.content %>
  </p>

  <p>
    <strong>Record updated at:</strong>
    <%= question_result.record_updated_at %>
  </p>

</div>
