<div id="<%= dom_id question_result %>">
  <p>
    <strong>Question:</strong>
    <%= question_result.question_id %>
  </p>

  <p>
    <strong>Ballot:</strong>
    <%= question_result.ballot_id %>
  </p>

  <p>
    <strong>Voter:</strong>
    <%= question_result.voter_id %>
  </p>

  <p>
    <strong>Option:</strong>
    <%= question_result.option_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= question_result.content %>
  </p>

</div>
