<p style="color: green"><%= notice %></p>

<%= render @question_result %>

<div>
  <%= link_to "Edit this question result", edit_question_result_path(@question_result) %> |
  <%= link_to "Back to question results", question_results_path %>

  <%= button_to "Destroy this question result", @question_result, method: :delete %>
</div>
