<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <div class="nav-link ">
        <i class="bi bi-grid"></i>
        <span>Menu</span>
      </div>
    </li>

    <li class="nav"> 
      <%= link_to ('<div class="nav-link collapsed">
        <i class="bi bi-house"></i>
        <span>Overview</span>
      </div></li>').html_safe   %>
  </ul>
  </li>

  <li class="nav">
    <%= link_to ('<div class="nav-link collapsed">
      <i class="bi bi-collection"></i>
      <span>Ballot</span>
    </a>').html_safe  %>
  </ul>
  </li>

  <li class="nav">
    <%= link_to ('<div class="nav-link collapsed">
      <i class="bi bi-journal-text"></i>
      <span>Questions</span>
    </a>').html_safe  %>
  </li>

  <li class="nav">
    <%= link_to ('<div class="nav-link collapsed">
      <i class="bi bi-person-lines-fill"></i>
      <span>Voters</span>
      </a>').html_safe  %></li>

  <li class="nav">
    <%= link_to ('<div class="nav-link collapsed">
      <i class="bi bi-easel"></i>
      <span>Preview</span>
      </a>').html_safe  %></li></li>
    
  <li class="nav">
    <%= link_to ('<div class="nav-link collapsed">
      <i class="bi bi-check2-circle"></i>
      <span>Launch</span>
      </a>').html_safe  %></li></li>
</aside>