<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <div class="nav-link ">
        <i class="bi bi-grid"></i>
        <span>Menu</span>
      </div>
    </li>

    <li class="nav"> 
      <%= link_to ('<div class="nav-link collapsed">
        <i class="bi bi-house"></i>
        <span>Overview</span>
      </div>').html_safe, user_ballot_path(current_user.id, @ballot)  %>
  </li>

  <li class="nav">
    <%= link_to ('<div class="nav-link collapsed">
      <i class="bi bi-collection"></i>
      <span>Ballot</span>
    </a>').html_safe, edit_user_ballot_path(current_user.id, @ballot)  %>
  </li>

  <li class="nav">
    <%= link_to ('<div class="nav-link collapsed">
      <i class="bi bi-journal-text"></i>
      <span>Questions</span>
    </a>').html_safe, user_ballot_ballot_questions_path(current_user.id, @ballot)  %>
  </li>

  <li class="nav">
    <%= link_to ('<div class="nav-link collapsed">
      <i class="bi bi-person-lines-fill"></i>
      <span>Voters</span>
    </a>').html_safe, user_ballot_voter_list_path(current_user.id, @ballot)  %>
  </li>

  <li class="nav">
    <%= link_to ('<div class="nav-link collapsed">
      <i class="bi bi-easel"></i>
      <span>Preview</span>
    </a>').html_safe %>
  </li>

  <li class="nav">
    <%= link_to ('<div class="nav-link collapsed">
      <i class="bi bi-check2-circle"></i>
      <span>View Results</span>
    </a>').html_safe, user_ballot_results_path(:ballot_id => @ballot.id), ballot: @ballot, url: [current_user, @ballot] %>
  </li>

  <li class="nav">
    <%= link_to ('<div class="nav-link collapsed">
      <i class="bi bi-arrow-bar-left"></i>
      <span>Your Ballots</span>
    </a>').html_safe, user_ballots_path(current_user.id), ballot: @ballot, url: [current_user, @ballot] %>
  </li>
</ul>
</aside>