<!DOCTYPE html>
<html>
  <head>
    <title>ElectionWebApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render partial: 'layouts/partials/header' if user_signed_in? %>
    <%= render partial: 'layouts/partials/sidebar' if user_signed_in? %>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Render Views -->
    <main id='<%= user_signed_in? ? 'main' : '' %>'>   <%= yield %>   </main>
    <!-- Render Views -->
  </body>
</html>
