<!DOCTYPE html>
<html>
  <head>
    <title>ElectionWebApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render partial: 'layouts/partials/header' if user_signed_in? %>
    <%= render partial: 'layouts/partials/sidebar' if user_signed_in? %>
    <!-- Render Views -->
    <main id='<%= user_signed_in? ? 'main' : '' %>'>   <%= yield %>   </main>
    <!-- Render Views -->
  </body>
</html>
